table,td{
    border-style: solid;
    border-width: 1px;
}

thead{
    background-color: aqua;
    font-weight: bold;
}

#base_ul {
    background-color: rgb( 145, 228, 197 );
    color:brown;
    
  }
