{%extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Add Lang {%endblock%}</title>
</head>
<body>
    {%block content%}
    <form action="{{ url_for('langs')}}" method="post">
        {{form.name.label}}
        {{form.name}}
        <input type="submit" value="Add language">
    </form>
    {%endblock%}
</body>
</html>