{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Courses{%endblock%}</title>
</head>
<body>
    {%block content%}
    <header>
        <h2> Course List:</h2>
    </header>
    <main>
        <div>
            Search courses by student
        </div>
        <form action="{{ url_for('courses_for_student')}}" method="post">
            <select name="students" value="{student.id}">
                {%for student in students%}
                    <option value="{{student.id}}">{{student.first_name}} {{student.last_name}}</option>

                {%endfor%}
            </select>
            <input type="submit" value="Search">
        </form>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Languages</th>
            </tr>
        {% if courses %}
        <form action="{{url_for('delete_courses')}}" method="post">
            {% for course in courses %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>
                        {%if course.langs%}
                        {%for lang in course.langs%}
                            {% if loop.last %}
                            <span> {{lang.name}}</span>
                            {% else %}
                            <span> {{lang.name}}, </span>
                            {% endif %}
                        {%endfor%}
                        {%endif%}
                    </td>
                    <td><a href="{{ url_for('course', id=course.id) }}">details</a></td>
                    
                    <td><input type="checkbox" name="courses" value={{course.id}}></td>
                </tr>
                
            {%endfor%} 
        {% endif%}
        </table>
        <p><input type="submit" value="Delete courses"></p>
        </form>
    </main>
    {%endblock%}
</body>
</html>