<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css') }}">
    <title>Grades</title>
</head>
<body>
    {% if grades %}
    <table>
        <thead>
            <tr>
                {% for subject in grades.keys() %}
                    <td> {{subject}} </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for grade in grades.values() %}
                <td> {{grade}} </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% else %}
        <h1> No grades submitted </h1>
    {% endif %}
</body>
</html>